<div class="container" style="width:360px; margin-bottom:10px;">
  <h1>Edit plan</h1>

    <%= simple_form_for @itinerary do |f| %>
      <div class="card-trip">
      <img src="<%= @itinerary.city.image_url_one %>" class="d-block w-100" alt="...">
      </div>
      <%= f.input :title %>
      <p>City name: <%= @itinerary.city.name %></p>
      <%= f.input :visibility, as: :boolean %>
      <% if @itinerary.end_date.past? %>
        <%= f.input :review, as: :text %>
      <% end %>
      <% unless @itinerary.end_date.past? %>
        <%= f.input :start_date, as: :string, label: "Change your dates",
                    input_html: { data: { controller: "datepicker" } } %>
      <% else %>
        <p><%= @itinerary.start_date %> to <%= @itinerary.end_date %></p>
      <% end %>
      <div>
        <%= f.submit "Update plan" %>
      </div>
    <% end %>
</div>
