<div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
  <%= link_to itineraries_path, class: 'add-button' do %>
    <h4><i class="fa-solid fa-chevron-left" style="color:white;"></i></h4>
  <% end %>
  <h4>Edit plan</h4>
</div>

<div class="container" style="width:360px; margin-bottom:10px;">

    <%= simple_form_for @itinerary do |f| %>
      <div class="card-trip">
      <img src="<%= @itinerary.city.image_url_one %>" class="d-block w-100" alt="...">
      </div>
      <%= f.input :title %>
      <p>City name: <%= @itinerary.city.name %></p>
      <%= f.input :visibility, as: :boolean %>
      <% if @itinerary.end_date.past? %>
        <%= f.input :review, as: :text %>
      <% end %>
      <% unless @itinerary.end_date.past? %>
        <%= f.input :start_date, as: :string, label: "Change your dates",
                    input_html: { data: { controller: "datepicker" } } %>
      <% else %>
        <p><%= @itinerary.start_date %> to <%= @itinerary.end_date %></p>
      <% end %>
      <div>
        <%= f.submit "Update plan" %>
      </div>
    <% end %>
</div>
