<h2>Edit itinerary</h2>

  <div class="row col-10 justify-content-center newpage">
      <%= simple_form_for @itinerary do |f| %>
      <%= f.input :title %>
      <%= f.input :city_id %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :visibility %>
      <%= f.submit class: "btn btn-success" %>
    <% end %>
  </div>

<h3>Add activities</h3>


<% @activities.each do |activity| %>
<button><%= activity.title %></button>
<% end %>
