<div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
  <%= link_to itineraries_path, class: 'add-button' do %>
    <h4><i class="fa-solid fa-chevron-left" style="color:white;"></i></h4>
  <% end %>
  <h4>Edit trip</h4>
</div>

<div class="container itin-index" style="width:90%; margin-bottom:100px;">

    <%= simple_form_for @itinerary do |f| %>
    <div class="form-inputs">
      <%= link_to itinerary_path(@itinerary) do %>
        <div class="card-category-img mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @itinerary.city.image_url_one %>); width:100%; height:200px; padding:10px;">
          <h2><%= @itinerary.city.name %></h2>
        </div>
      <% end %>
      <%= f.input :title %>
      <% if @itinerary.end_date.past? %>
        <%= f.input :review, as: :text %>
      <% end %>
      <% unless @itinerary.end_date.past? %>
        <%= f.input :start_date, as: :string, label: "Change your dates",
                    input_html: { data: { controller: "datepicker" } } %>
      <% else %>
        <p><%= @itinerary.start_date %> to <%= @itinerary.end_date %></p>
      <% end %>
      <%= f.input :visibility, as: :boolean %>
        <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
</div>
