<div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
  <h4>Trips</h4>
  <%= link_to new_itinerary_path, class: 'add-button' do %>
    <h4><i class="fa-solid fa-circle-plus" style="color:white;"></i></h4>
  <% end %>
</div>

<div class="container itin-index" style="width:90%; margin-bottom:100px;">

  <% @ongoing_itineraries.group_by(&:city).each do |city, itineraries| %>
  <div style="position:relative;">
    <a href="<%= itinerary_path(itineraries.first) %>" style="text-decoration:none;">
      <div class="card-category-img mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= city.image_url_one %>); width:100%; height:200px; padding:10px; background-size: contain;">
        <div class="d-flex flex-column mt-2" style="text-align:center">
          <h2><%= city.name %></h2>
            <% @ongoing_itineraries.each do |itinerary| %>
            <p style="font-size:12px; font-weight: 200;"><%= itinerary.start_date.strftime('%B %d ') %> - <%= itinerary.end_date.strftime('%B %d ') %></p>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
  <div>
  <div class="master">
    <span><strong>Upcoming Trips</strong></span>
      <%= render "layouts/upcoming_itinerary_activity_card" %>
    <div class="accordion mt-3" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Past Trips</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <%= render "layouts/past_itinerary_activity_card" %>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>
