<div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
  <%= link_to itineraries_path, class: 'add-button' do %>
    <h4><i class="fa-solid fa-chevron-left" style="color:white;"></i></h4>
  <% end %>
  <h4>New plan</h4>
</div>

<div class="container" style="width:360px; margin-bottom:10px;">

    <div class="row col-10 justify-content-center newpage">
        <%= simple_form_for @itinerary do |f| %>
        <%= f.input :title %>
        <%= f.input :city_id, collection: @cities, label_method: :name, value_method: :id, prompt: true %>
        <%= f.input :start_date, as: :string, label: "Pick your dates",
              input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :visibility %>
        <%= f.submit class: "btn btn-warning" %>
      <% end %>
    </div>
</div>
