<h1> <%= @itinerary.title %> </h1>
<h3>YOUR ACTIVITIES</h3>

<% if !@itactivities.empty? %>
  <% @itactivities.each do |activity| %>
    <% if @itinerary.id == activity.itinerary_id %>
      <%= activity.activity_id %> <%= link_to icon('fa-regular', 'trash-can icon-hover-trash'), itinerary_it_activity_path(@itinerary, activity), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this activity?" } %>
    <% end %>
  <% end %>
<% end %>

<% render 'it_activities/index' %>

<% if !@itinerary.end_date.past? %>

  <h3>ACTIVITY SUGGESTIONS</h3>

  <ul>
      <% @activities.each do |activity| %>
    <li><%= activity.title %><%= simple_form_for([@itinerary, @itactivity]) do |f| %>
        <%= f.input :activity_id, as: :hidden, input_html: {value: activity.id} %>
        <%= f.input :itinerary_id, as: :hidden, input_html: {value: @itinerary.id} %>
        <%= f.button :submit, "ADD" %>
        <% end %></li>
      <% end %>
  </ul>
<% else %>
  <% if @itinerary.review? %>
    <h5>review</h5>
    <%= @itinerary.review %>
  <% end %>
<% end %>
