<div class="header d-flex justify-content-between p-3" style="height:60px;">
  <%= link_to itineraries_path, class: 'add-button' do %>
    <h4><i class="fa-solid fa-circle-arrow-left" style="color:white;"></i></h4>
  <% end %>
  <%= @itinerary.title %>
</div>
<br>
<%= render "layouts/map" %>

<div class="d-flex justify-content-between p-3">
  <div class="column justify-content-right">
    <%= link_to city_path(@itinerary.city) do %><i class="fas fa-search"></i><% end %>
    <%= link_to new_city_activity_path(@itinerary.city_id, itinerary_id: @itinerary.id, custom: true ) do %><i class="fas fa-plus-circle"></i><% end %>
  </div>
</div>
<br>

<div class="container" style="width:360px;">
  <span><strong>PLAN ACTIVITIES</strong></span>
<%= render "layouts/itactivities" %>
</div>

  <% if !@itinerary.end_date.past? %>
    <div class="category">
      <strong>Your custom activities:</strong>
    </div>
    <div class="scroll-container">
        <% @activities.each do |activity| %>
          <div class="activity-image-container">
            <% if activity.custom && !@itinerary.it_activities.exists?(activity_id: activity.id) %>
              <% if activity.image_url.present? %>
                <img src="<%= activity.image_url %>" alt="">
              <% end %>
                <%= activity.title %>
                <%= simple_form_for([@itinerary, ItActivity.new]) do |f| %>
                  <%= f.hidden_field :activity_id, value: activity.id %>
                  <%= f.hidden_field :itinerary_id, value: @itinerary.id %>
                  <%= f.hidden_field :date, value: activity.date %>
                  <%= f.button :submit, "", class: "btn btn-primary btn-sm", disabled: @itinerary.it_activities.exists?(activity_id: activity.id) do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                <% end %>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class="category">
      <strong>Our top selection for you:</strong>
    </div>
    <div class="scroll-container">
        <% @activities.each do |activity| %>
          <div class="activity-image-container">
            <% unless activity.custom || @itinerary.it_activities.exists?(activity_id: activity.id) %>
                <% if activity.image_url.present? %>
                  <img src="<%= activity.image_url %>" alt="">
                <% end %>
                <%= activity.title %>
                <%= simple_form_for([@itinerary, ItActivity.new]) do |f| %>
                  <%= f.hidden_field :activity_id, value: activity.id %>
                  <%= f.hidden_field :itinerary_id, value: @itinerary.id %>
                  <%= f.button :submit, "", class: "btn btn-primary btn-sm", disabled: @itinerary.it_activities.exists?(activity_id: activity.id) do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
  <% else %>
    <% if @itinerary.review.present? %>
      <h5>Review</h5>
      <%= @itinerary.review %>
    <% end %>
  <% end %>
