<div class="container" style="width: 360px; margin-bottom: 10px;">
  <h1><%= @itinerary.title %></h1>

  <h3>Explore activities
  <%= link_to city_path(@itinerary.city) do %><i class="fas fa-search"></i><% end %>
  <%= link_to new_city_activity_path(@itinerary.city_id, itinerary_id: @itinerary.id, custom: true ) do %><i class="fas fa-plus-circle"></i><% end %>
  </h3>

    <div class="category"></div>
    <strong>Your activities</strong>
    <div class="scroll-container">
        <% if !@itactivities.empty? %>
          <% @itactivities.each do |it_activity| %>
            <div class="activity-image-container">
              <% if @itinerary.id == it_activity.itinerary_id %>
                <% activity = it_activity.activity %>
                <% if activity.image_url.present? %>
                  <img src="<%= activity.image_url %>" alt="">
                <% end %>
                  <%= activity.title %> <%= link_to icon('fa-regular', 'trash-can icon-hover-trash'), itinerary_it_activity_path(@itinerary, it_activity), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this activity?" } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>

  <% if !@itinerary.end_date.past? %>
    <div class="category">
      <strong>Your custom activities:</strong>
    </div>
    <div class="scroll-container">
        <% @activities.each do |activity| %>
          <div class="activity-image-container">
            <% if activity.custom && !@itinerary.it_activities.exists?(activity_id: activity.id) %>
              <% if activity.image_url.present? %>
                <img src="<%= activity.image_url %>" alt="">
              <% end %>
                <%= activity.title %>
                <%= simple_form_for([@itinerary, ItActivity.new]) do |f| %>
                  <%= f.hidden_field :activity_id, value: activity.id %>
                  <%= f.hidden_field :itinerary_id, value: @itinerary.id %>
                  <%= f.button :submit, "", class: "btn btn-primary btn-sm", disabled: @itinerary.it_activities.exists?(activity_id: activity.id) do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                <% end %>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class="category">
      <strong>Our top selection for you:</strong>
    </div>
    <div class="scroll-container">
        <% @activities.each do |activity| %>
          <div class="activity-image-container">
            <% unless activity.custom || @itinerary.it_activities.exists?(activity_id: activity.id) %>
                <% if activity.image_url.present? %>
                  <img src="<%= activity.image_url %>" alt="">
                <% end %>
                <%= activity.title %>
                <%= simple_form_for([@itinerary, ItActivity.new]) do |f| %>
                  <%= f.hidden_field :activity_id, value: activity.id %>
                  <%= f.hidden_field :itinerary_id, value: @itinerary.id %>
                  <%= f.button :submit, "", class: "btn btn-primary btn-sm", disabled: @itinerary.it_activities.exists?(activity_id: activity.id) do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
  <% else %>
    <% if @itinerary.review.present? %>
      <h5>Review</h5>
      <%= @itinerary.review %>
    <% end %>
  <% end %>

<% end %>

<div style="width: 100%; height: 200px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['pk.eyJ1Ijoic2ViaWJhc3RpIiwiYSI6ImNsaGhnMjZ0aDBiYnUzbXByeXUwOGtiYWYifQ.-eVD2Jk29XEU7OpQmFeMWQ'] %>">

</div>
