<div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
  <h4>Chats</h4>
</div>

<div class="nearby">Travelers nearby</div>
<% @users.each do |user| %>
  <div class="chatroom" id="index">

  <div class="user">
    <% user.chatrooms_as_user1.each do |chatroom| %>
      <%= link_to user_path(chatroom.user2) do %>
        <%= image_tag chatroom.user2.photo, class: "profile-picture" if chatroom.user2.photo.attached? %>
      <%= link_to chatroom.user2.first_name, chatroom_path(chatroom), class: "" %>
    <% end %>
    </div>
    <% end %>
  </div>
<% end %>

<div>
<% @users.reject(&:current_user).each do |user| %>
<%= image_tag user.photo, class: "profile-picture" if user.photo.attached? %>
<%= user.first_name %>
<% end %>
</div>
