  <h2>Edit Profile</h2>
 <div class="row col-10 justify-content-center newpage">
  <%= simple_form_for @user do |f| %>
 <div> <%= f.input :first_name %></div>
  <div><%= f.input :photo %></div>
  <div> <%= f.input :summary, label: "Biography" %> </div>
   <div><%= f.input :emergency_contact_name %></div>
  <div> <%= f.input :emergency_contact_number %></div>
   <div><%= f.submit "Update Profile"%></div>
<% end %>
</div>
