<div class="container mt-4 p-3 style = margin-bottom:120px;">
  <h1>Profile</h1>
  <% if user_signed_in? && current_user == @user %>
  <div class="edit-profile-link">
    <%= link_to "Edit", edit_user_url, class: "underline-link" %>
    </div>
  <% end %>


  <div class="profile-card">
  <div class="card-content">
    <%= image_tag(@user.photo, class: "profile-photo") if @user.photo.attached? %>
  </div>
  <p class="user-name"><%= @user.first_name %></p>
  <% unless current_user == @user %>
    <% if @chatroom.id %>
      <%= link_to icon("profile-icon", "fa-regular fa-message"), chatroom_path(@chatroom) %>
    <% else %>
      <%= button_to "Chatting with", user_chatrooms_path(@user) %>
    <% end %>
  <% end %>
</div>

  <div class="container">
    <div class="Bio-user">
      <p > <%= @user.summary %></p>
    </div>
  </div>

  <div class="container">
    <div class="itineries-section">
      <%= link_to "Your itineraries", itinerary_path %>
    </div>
  </div>
</div>
