
<div class="home"  style="">
  <div class="search-home"><%= render "layouts/search_bar_home" %></div>
  <div class="centered">Fearless Explorers.</div>
  <div class="secondary">Women Embracing Secure Travel.</div>
</div>

<%# Move logout button in homepage. Copy and paste this link over to profile %>
<div>
  <div class="row">
    <div class="col-3 one">Safe!</div>
    <div class="col-3 two">Still Safe</div>
    <div class="col-3 three">Be Cautious!</div>
    <div class="col-3 four">Maybe Reconsider</div>
  </div>
</div>

<%# <div class="container" style="width:90%;z-index:1;"></div> %>
<div class="accordion" id="accordionExample" style="margin-top:30px;">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button one" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Super Safe!
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render "layouts/card_carousel" %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Still Safe!
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render "layouts/card_carousel" %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Be Cautious
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <%= render "layouts/card_carousel" %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Maybe Reconsider
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <%= render "layouts/card_carousel" %>
      </div>

    </div>

  </div>

</div>
