
<%= render "layout/card_carousel" %>

<div>
  <div><%= @city.name %></div>
  <div><%= @city.country %></div>
  <div><img src="<%= @city.image_url %>" alt=""></div>
  <% @activities.each do |activity| %>
    <div><%= activity.title %></div>
    <div><%= activity.category %></div>
    <div><%= activity.address %></div>
    <div><img src="<%= activity.image_url %>" alt=""></div>
  <% end %>
</div>

