<div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
  <%= link_to itineraries_path, class: 'add-button' do %>
    <h4><i class="fa-solid fa-chevron-left" style="color:white;"></i></h4>
  <% end %>
  <h4>New custom activity</h4>
</div>

<div class="container" style="width:360px;">

  <%= simple_form_for @activity do |f| %>
    <div class="form-inputs">
    <%= f.input :title, label: 'Title' %>
    <%= f.input :address, label: 'Address' %>
    <%= f.date_field :date, start_year: Date.current.year %>
    <%= f.input :custom, as: :hidden, input_html: { value: true } %>
    <%= f.hidden_field :city_id, value: @activity.city_id %>
    <%= f.hidden_field :itinerary_id, value: @itinerary_id %>
     <div class="form-actions">
    <%= f.button :submit, 'Create' %>
  <% end %>
</div>
