<h2>Create Activity page</h2>

<%= simple_form_for @activity do |f| %>
<%= f.input :title %>
<%= f.input :category %>
<%= f.input :address %>
<%= f.input :date %>
<%= f.submit "Create Activity" %>
<% end %>
