<% @cities.each do |city| %>
<div class="card-trip">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= city.image_url %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= city.image_url %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= city.image_url %>" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
  <div class="card-trip-infos">
    <div>
      <h2><%= city.name %></h2>
      <p><%= city.country %></p>
    </div>


  </div>
</div>
<% end %>
