<% @cities.each do |city| %>
<div class="card-trip">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <a href="<%= city_path(city.id) %>">
        <img src="<%= city.image_url_one %>" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
      <a href="<%= city_path(city.id) %>">
        <img src="<%= city.image_url_two %>" class="d-block w-100" alt="...">
      </a>
      </div>
      <div class="carousel-item">
      <a href="<%= city_path(city.id) %>">
        <img src="<%= city.image_url_three %>" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2> <%= city.name %></h2>
      <span><%= city.country %></span>
    </div>
  </div>
</div>
<% end %>
