<% @cities.each do |city| %>
<% if city.safety_rating == 1 %>
      <div class="card-trip" style="background-color:#B7D480;">
    <% elsif city.safety_rating == 2 %>
      <div class="card-trip" style="background-color:#FDD984;">
    <% elsif city.safety_rating == 3 %>
      <div class="card-trip" style="background-color:#FFA676;">
    <% else %>
      <div class="card-trip" style="background-color:#F7574F;">
    <% end %>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <a href="<%= city_path(city.id) %>">
        <img src="<%= city.image_url_one %>" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
      <a href="<%= city_path(city.id) %>">
        <img src="<%= city.image_url_two %>" class="d-block w-100" alt="...">
      </a>
      </div>
      <div class="carousel-item">
      <a href="<%= city_path(city.id) %>">
        <img src="<%= city.image_url_three %>" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2> <%= city.name %></h2>
      <span><%= city.country %></span>
    </div>
  </div>
</div>
<% end %>
