<div class="category"></div>
<i class="fa-solid fa-earth-americas"></i> <strong>Culture</strong>
<div class="scroll-container">
  <% @culture_activities.each do |activity| %>
    <div class="activity-image-container">
      <div data-controller="toggler" data-action="click->toggler#toggle">
        <img src="<%= activity.image_url %>" alt="">
        <div data-toggler-target="togglableElement" class="d-none">
          <div class="yellow d-flex flex-column shadow-lg p-3 mb-5 bg-white">
            <img src="<%= activity.image_url %>" style="width: 100%;height: 180px; object-fit: cover; border-radius:5px;">
            <div class="d-flex justify-content-between">
              <div><h2> <% if activity.title.length > 25 %>
                <%= "#{activity.title.slice(0,25)}..." %>
              <% else %>
                <%= activity.title %><% end %></h2></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="category"></div>
<i class="fa-solid fa-tree"></i> <strong>Nature</strong>
<div class="scroll-container">
  <% @nature_activities.each do |activity| %>
    <div class="activity-image-container">
      <div data-controller="toggler" data-action="click->toggler#toggle">
        <img src="<%= activity.image_url %>" alt="">
        <div data-toggler-target="togglableElement" class="d-none">
          <div class="yellow d-flex flex-column shadow-lg p-3 mb-5 bg-white">
            <img src="<%= activity.image_url %>" style="width: 100%;height: 180px; object-fit: cover; border-radius:5px;">
            <div class="d-flex justify-content-between">
              <div><h2> <% if activity.title.length > 25 %>
                <%= "#{activity.title.slice(0,25)}..." %>
              <% else %>
                <%= activity.title %><% end %></h2></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="category"></div>
<i class="fa-solid fa-palette"></i> <strong>Art</strong>
<div class="scroll-container">
  <% @art_activities.each do |activity| %>
    <div class="activity-image-container">
      <div data-controller="toggler" data-action="click->toggler#toggle">
        <img src="<%= activity.image_url %>" alt="">
        <div data-toggler-target="togglableElement" class="d-none">
          <div class="yellow d-flex flex-column shadow-lg p-3 mb-5 bg-white">
            <img src="<%= activity.image_url %>" style="width: 100%;height: 180px; object-fit: cover; border-radius:5px;">
            <div class="d-flex justify-content-between">
              <div><h2> <% if activity.title.length > 25 %>
                <%= "#{activity.title.slice(0,25)}..." %>
              <% else %>
                <%= activity.title %><% end %></h2></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="category"></div>
<i class="fa-solid fa-utensils"></i> <strong>Food</strong>
<div class="scroll-container">
  <% @food_activities.each do |activity| %>
    <div class="activity-image-container">
      <div data-controller="toggler" data-action="click->toggler#toggle">
        <img src="<%= activity.image_url %>" alt="">
        <div data-toggler-target="togglableElement" class="d-none">
          <div class="yellow d-flex flex-column shadow-lg p-3 mb-5 bg-white">
            <img src="<%= activity.image_url %>" style="width: 100%;height: 180px; object-fit: cover; border-radius:5px;">
            <div class="d-flex justify-content-between">
              <div><h2> <% if activity.title.length > 25 %>
                <%= "#{activity.title.slice(0,25)}..." %>
              <% else %>
                <%= activity.title %><% end %></h2></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
