
<nav class="navbar">
  <div class="icons-container">
  <div class="icon-text-container <%= 'active' if request.path == root_path %>">
    <a href="/home">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
        <div class="text">
          Explore
        </div>
      </a>
      </div>

   <div class="icon-text-container <%= 'active' if request.path == itineraries_path %>">
      <a href="/itineraries">
        <div class="icon">
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="text">
          Plan
        </div>
      </a>
      </div>

  <div class="icon-text-container <%= 'active' if request.path == root_path %>">
      <a href="/home">
        <div class="icon">
          <i class="fa-regular fa-bell"></i>
        </div>
        <div class="text">
          Emergency
        </div>
      </a>
      </div>
  <div class="icon-text-container <%= 'active' if request.path == chatrooms_path %>">
        <a href="<%= chatrooms_path %>">
          <div class="icon">
            <i class="fa-regular fa-message"></i>
          </div>
          <div class="text">
            Chat
          </div>
        </a>
      </div>
  <div class="icon-text-container <%= 'active' if user_signed_in? && current_page?(user_path(current_user)) %>">
  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do  %>
      <div class="icon">
        <i class="fa-regular fa-user"></i>
      </div>
      <div class="text">
        Profile
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do  %>
      <div class="icon">
        <i class="fa-regular fa-user"></i>
      </div>
      <div class="text">
        Profile
      </div>
    <% end %>
  <% end %>
</div>

</div>
</nav>
