<% @past_itineraries.each do |itinerary| %>
  <div class="card-product">
    <a href="<%= itinerary_path(itinerary) %>">
      <img src="<%= itinerary.city.image_url_one %>" />
    </a>
    <div class="card-product-infos">
      <h2><%= itinerary.title %></h2>
        <% unless itinerary.review.present? %>
        <div class="text-warnign">Tell us how it was!</div>
        <div class="delete">
          <%= link_to icon('fa-regular', 'edit icon-hover-edit'), edit_itinerary_path(itinerary), class: 'edit-icon text-warning' %>
        <% else %>
          <%= link_to icon('fa-regular', 'edit icon-hover-edit'), edit_itinerary_path(itinerary), class: 'edit-icon' %>
        <% end %>
        <%= link_to icon('fa-regular', 'circle-xmark'), itineraries_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this itinerary?" } %>
      </div>
      <h3><%= itinerary.city.name %></h3>
      <p><%= itinerary.start_date %> - <%= itinerary.end_date %></p>
    </div>
  </div>
<% end %>
