<!DOCTYPE html>
<html>
  <head>
    <title>SafeTravels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<% if params[:controller] == 'pages' &&  params[:action] == 'home' %>
    <body data-controller="home" data-home-target="body">
      <div data-home-target="logo" class="homewrapper">
        <div class="logoholder"></div>
      </div>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "layouts/navbar" %>
    </body>
  <% else %>
    <body>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "layouts/navbar" %>
    </body>
  <% end %>
</html>
