<!DOCTYPE html>
<html>
  <head>
    <title>SafeTravels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body style="margin-bottom: 100px;">

      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "layouts/navbar" %>
  </body>
</html>
